ul, li, body, html, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

.link {
    display: block;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#171219;
    .header {
        background-color: #225560;
        width: 100%;
        position: fixed;
        height: 30px;
        z-index: 1000;
    }
    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 970px;
        padding: 30px 10px 0px;
        flex-grow: 1;
        display: flex;
        .sidebar {
            width: 14%;
            background-color: #310D20;
        }
        .content {
            width: 86%;
        }
    }
}

@keyframes loading{
    0% { height: 100%; }
    50% { height: 0%; }
    100% { height: 100%; }
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__item {
        height: 30px;
        width: 7px; 
        background-color: black; 
        margin: 0px 3px;
        background-color: #225560;
        animation: loading 1s infinite;
        &:nth-child(2){
            animation-delay: 0.3s; 
        }
        &:nth-child(3){
            animation-delay: 0.6s;
        }
    }
}



.main-menu {
    padding: 20px 0px 0px 15px;
    position: fixed;
    &__link {
        color: #F0803C;
        font-size: 16px;
        font-weight: bold;
    }
    &__item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.friends {
    min-height: 100%;
    position: relative;
    padding: 10px;
    &__item {
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.user {
    display: flex;
    background-color: #310D20;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    &__name {
        color: #F0803C;
        font-weight: bold;
        font-size: 20px;
    }
    &__status {
        color: #225560;
        font-weight: bold;
    }
    &__avatar {
        width: 65px;
        height: 65px;
        margin-right: 15px;
    }
}

.profile {
    min-height: 100%;
    display: flex;
    align-items: stretch;
    padding: 10px 10px 0px 10px;
    position: relative;
    &__left, &__rigth {
        background-color: #310D20;
        border-radius: 5px 5px 0px 0px;
    }
    &__left {
        width: 35%;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    &__rigth {
        flex-grow: 1;
        padding: 10px 20px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        font-size: 24px;
        color: #F0803C;
    }
    &__online {
        color: #225560;
    }
    &__status {
        margin-top: 10px;
        color: #225560;
        font-size: 18px;
    }
    &__seporator {
        width: 100%;
        height: 1px;
        background-color: #171219;
        margin: 20px 0px;
        &:last-child{
            margin-top: auto;
        }
    }
    &__information {
        margin-bottom: 10px;
        color: #F0803C;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__information-block {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__img {
        width: 230px;
        height: 250px;
        border-radius: 5px;
        background-size: cover;
        background-position:  center;
        display: block;
        margin-bottom: 15px;
        background-color: #EDF060;
    }
    &__data-container {
        width: 100%;
    }
    &__data-item {
        background-color: #225560;
        border-radius: 5px;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__action-list {
        width: 100%;
        margin-bottom: 15px;
    }
    &__action {
        margin-bottom: 15px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.profile-action-item {
    width: 100%;
    border-radius: 5px;
    background-color: #225560;
    margin-bottom: 15px;
    text-align: center;
    &:last-child{
        margin-bottom: 0;
    }
    &__name {
        display: block;
        padding: 10px;
        color: #F0803C;
        font-weight: bold;
    }
}

.user-block-data {
    padding: 10px;
    &__title {
        color: #F0803C;
        font-weight: bold;
        font-size: 15px;
    }
    &__list {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 33.33%;
        &:nth-child(1){
            margin-bottom: 10px;
        }
        &:nth-child(2){
            margin-bottom: 10px;
        }
        &:nth-child(3){
            margin-bottom: 10px;
        }
        &:nth-child(4){
            margin-bottom: 0px;
        }
        &:nth-child(5){
            margin-bottom: 0px;
        }
        &:nth-child(6){
            margin-bottom: 0px;
        }
    }
}

.avatar-min {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-size: cover;
    background-position:  center;
    background-color: #EDF060;
}
.name-min {
    color: #F0803C;
    text-align: center;
    font-size: 14px;
}

.item-profile {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__avatar {
        display: block;
        width: 45px;
        height: 45px;
    }
}

.posts-block__item {
    background-color: #225560;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}

.post-item {
    width: 100%;
    display: flex;
    &__container {
        margin-left: 15px;
        flex-grow: 1;
    }
    &__title {
        margin-bottom: 10px;
    }
    &__meta {
        color: #F0803C;
        font-weight: bold;
        margin-top: 10px;
        text-align: right;
    }
    &__avatar {
        display: block;
        width: 45px;
        height: 45px;
    }

}

.messages {
    padding: 10px;
    &__item {
        border-radius: 5px;
        background-color: #310D20;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.message-list-item {
    padding: 10px;
    display: flex;
    align-items: center;
    &__img-block {
        margin-right: 15px;
    }

    &__companion-name {
        display: block;
        margin-bottom: 10px;
    }

    &__dialog-img {
        display: block;
        margin-right: 15px;
        width: 40px;
        height: 40px;
    }

    &__content {
        width: 100%;
    }

    &__message-content {
        display: flex;
        align-items: center;
    }
    &__date {
        display: block;
        text-align: right;
        color: #F0803C;
    }
    &__text {
        font-size: 16px;
        color: #225560;
    }
    &__img-block {
        width: 80px;
        height: 80px;
    }
}

.message-window {
    height: 100%;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    &__item {
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #310D20;
        flex-grow: 1;
        border-radius: 5px 5px 0px 0px;
        padding: 10px 15px 40px 15px;
    }
    &__form {
        background-color: #225560;
        padding: 10px;
        display: flex;
        height: 50px;
    }
    &__input {
        padding-left: 15px;
        display: block;
        flex-grow: 1;
        border: none;
        outline: none;
    }
    &__send-button {
        border: none;
        width: 120px;
        font-weight: bold;
        font-size: 16px;   
        outline: none;
        cursor: pointer;    
    }
}

.message-item {
    background-color: #225560;
    max-width: 300px;
    padding: 10px;
    display: flex;
    border-radius: 0px 5px 5px 0px;
    &__avatar {
        min-width: 45px;
        height: 45px;
        margin-right: 15px;
    }
    &__data {
        width: 100%;
    }
    &__title {
        display: flex;
        margin-bottom: 10px;
    }
    &__name {
        margin-right: 10px;
    }
    &__date {
        margin-left: auto;
        font-size: 14px;
    }
}
.message-item.right {
    margin-left: auto;
    border-radius: 5px 0px 0px 5px;
}
.auth {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;   
    height: 100vh;
    background-color: #310D20;
    &__title {
        font-size: 30px;
        font-weight: bold;
        color: #225560;
        margin-bottom: 20px;
    }
    &__item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.auth-item {
    display: flex;
    align-items: center;
    &__avatar {
        margin-right: 15px;
        display: block;
        width: 50px;
        height: 50px;
    }
    &__name {
        font-weight: bold;
        font-size: 20px;
        color: #F0803C;
    }
}


.requests {
    height: 100%;
    padding: 10px;
    &__item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.request-item {
    background-color: #310D20;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    &__data {
        display: flex;
        align-items: center;
    }
    &__avatar {
        display: block;
        height: 65px;
        width: 65px;
        margin-right: 20px;
    }
    &__name {
        display: block;
    }
    &__action {
        display: flex;
    }
    &__button {
        width: 100px;
        font-size: 20px;
        cursor: pointer;
    }
}